#field-nutrition > div > header > h3,
#field-ingredients h3,
.tabs-field__tab.tabs-field__tab-instructions label.field-label {
    font-size: 1.4423076923rem;
    font-weight: 500;
}

#field-nutrition > div > header > h3,
.tabs-field__tab.tabs-field__tab-instructions label.field-label {
    margin-bottom: 10px;
}

#field-nutrition .render-fields h3 {
    font-size: 15.5px;
    font-weight: 500;
}

#field-nutrition .render-fields .render-fields .field-type.text:last-of-type {
    margin-bottom: 50px;
}

#field-nutrition .render-fields .render-fields .field-type.text:first-of-type,
#field-nutrition #field-nutrition__unsaturatedFatContent > div > div > div > .field-type.text:nth-child(2) {
    margin-bottom: 0;
}

.input-range-container {
    margin-bottom: 1.9230769231rem;
}

.label-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

label.field-label .label-accent {
    font-weight: bold;
}

label.field-label .label-value {
    color: #b0f8d6;
    font-size: 16px;
    font-weight: bold;
}

.input-range {
    width: 250px;
    margin: 0;
}

/* Base reset for input range */
input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
}

/* Chrome, Safari Thumb */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -8px;
    background: #b0f8d6;
    border-radius: 50%;
    cursor: pointer;
}

/* Firefox, IE Thumb */
input[type='range']::-moz-range-thumb,
input[type='range']::-ms-thumb {
    height: 25px;
    width: 25px;
    background: #b0f8d6;
    border-radius: 50%;
    cursor: pointer;
}

/* Track */
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: #2e2e2e;
    border-radius: 4px;
    cursor: pointer;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: #4e4e4e;
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #2e2e2e;
    border-radius: 4px;
    cursor: pointer;
}

input[type='range']::-ms-track {
    width: 100%;
    height: 10px;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

input[type='range']::-ms-fill-lower {
    background: #2e2e2e;
    border-radius: 4px;
}

input[type='range']:focus::-ms-fill-lower {
    background: #4e4e4e;
}

input[type='range']::-ms-fill-upper {
    background: #2e2e2e;
    border-radius: 4px;
}

input[type='range']:focus::-ms-fill-upper {
    background: #4e4e4e;
}

@media (max-width: 300px) {
    .input-range {
        width: 175px;
    }
}
