@tailwind base;
@tailwind components;
@tailwind utilities;

h3:not(:has(+ p)) {
    margin-bottom: 32px;
}

.search-bar:has(.search-btn:focus) .search-divider,
.search-bar:has(.search-btn:hover) .search-divider {
    background-color: transparent;
    transition-duration: 200ms;
}
