@tailwind base;
@tailwind components;
@tailwind utilities;

h3:not(:has(+ p)) {
    margin-bottom: 32px;
}

.navbar-notch-top {
    --top: linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat, radial-gradient(farthest-side, #000 98%, #0000) bottom/100px 100px no-repeat;
    -webkit-mask: var(--top);
    mask: var(--top);
}

.navbar-notch-bottom {
    --bottom: radial-gradient(calc(10px + 50px) at 50% -10px, #0000 98%, #000);
    -webkit-mask: var(--bottom);
    mask: var(--bottom);
    margin-top: -40px;
}

/* Firefox */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #dbdfe2 #20262f;
}

/* Chrome, Edge and Safari */
.scrollbar-block::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-inline::-webkit-scrollbar {
    height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #20262f;
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: #20262f;
}

.scrollbar::-webkit-scrollbar-track:active {
    background-color: #20262f;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #dbdfe2;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #258637;
}

.scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #258637;
}
